.*
!.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# packaging
.Python
scripts/


# Notebook
.ipynb_checkpoints

# pyenv
.python-version


# Environments
.env

# pycharm
.idea/*
